<h2>Apollo Missions</h2> Select a mission to view details on the mission.

<p>
  <table class="table table-striped table-hover">
    <tr>
      <th>Mission</th>
      <th>Rocket</th>
      <th>Launch Date</th>
      <th>Commander</th>
      <th>Sr. Pilot /<br />Command Module Pilot</th>
      <th>Pilot /<br />Lunar Module Pilot</th>
    </tr>
    <tr ng-repeat="item in vm.items" ng-click="vm.onSelectItem(item)">
      <td>{{::item.Title}}</td>
      <td>{{::item.Rocket}}</td>
      <td>{{::item.LaunchDate | date:'MMMM dd, yyyy'}}</td>
      <td>{{::item.Commander}}</td>
      <td>{{::item.SrPilotCmPilot}}</td>
      <td>{{::item.PilotLmPilot}}</td>
    </tr>
  </table>
</p>